.App {
  text-align: center;

}
.firstpart{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}
.secondpart{
  background-color:  rgb(0, 0, 0); 

 

 
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 61px;
  background-color: rgb(234, 24, 241);
}
.card{

}
.cardbody{
  background-color:black;

}
.title{
  color: white;
}
